<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>KeepAlive</key>
    <true/>
    <key>Label</key>
    <string>me.wangziyi.autossh</string>
    <key>Program</key>
    <string>/usr/local/bin/autossh</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/autossh</string>
        <string>-M</string>
        <string>21923</string>
        <string>-q</string>
        <string>-N</string>
        <string>-D</string>
        <string>6060</string>
        <string>root@45.118.133.247</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
